<script type="application/javascript">
    var deleteUser = function (id) {
        if (id == '{{user._id}}') {
            alert('You may not delete your own account while you are active!');
            return false;
        }
        else if (confirm('Are you sure? This operation cannot be undone!')) {
            fetch("/user/delete/" + id, {
                method: "DELETE"
            }).then(result => window.location = "/user/profile");
        }
    }
</script>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">
                    User Profile
                </h4>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 bg-light">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title font-weight-bold">
                    {{user.firstName}} {{user.lastName}}
                    {{#if user.admin}}
                     (System Administrator)
                    {{/if}}
                </h4>
                <hr>
                <h6 class="card-subtitle mb-2 font-weight-bold">Username: {{user.email}}</h6>
                <h6 class="card-text font-weight-bold">
                    <p>City: {{user.city}}</p>
                    <p>State: {{user.state}}</p>
                    <p>Phone: {{user.phone}}</p>
                    <p>Email: {{user.email}}</p>
                    <p>Last Login: <em>{{lastlogin}}</em></p>
                </h6>
            </div>
        </div>
    </div>
</div>
{{#if user.admin}}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">
                    <a href="#collapseUsers" role="button" aria-expanded="false" aria-controls="collapseUsers"
                        data-toggle="collapse" class="btn btn-primary">Manage Users (Show/Hide)</a>
                </h4>
            </div>
        </div>
    </div>
</div>
<div class="row collapse" id="collapseUsers">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <table id="userstable" class="table table-striped">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>Name</th>
                            <th>Phone</th>
                            <th>City</th>
                            <th>State</th>
                            <th>Admin</th>
                            <th>Last Login</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each users}}
                        <tr>
                            <th>{{email}}</th>
                            <td>{{firstName}} {{lastName}}</td>
                            <td>{{phone}}</td>
                            <td>{{city}}</td>
                            <td>{{state}}</td>
                            <td>{{admin}}</td>
                            <td>{{lastLoginMoment}}</td>
                            <td><a onClick="deleteUser('{{_id}}')" class="btn btn-danger">x</a>
                                <button class="btn btn-success">u</button>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">
                    <a href="#collapseOrders" role="button" aria-expanded="false" aria-controls="collapseOrders"
                        data-toggle="collapse" class="btn btn-primary">Manage Orders (Show/Hide)</a>
                </h4>
            </div>
        </div>
    </div>
</div>
<div class="overflow-auto row collapse" id="collapseOrders">
    <div class="col-md-8 col-md-offset-2 overflow-auto">
        {{#each orders}}
        <div class="card">
            <div class="card-body">
                <ul class="list-group">
                    {{#each this.items}}
                    <li class="list-group-item">
                        {{this.item.title}} | {{this.qty}} Unit(s)
                        <span class="badge badge-secondary float-right">${{this.price}}</span>
                    </li>
                    {{/each}}
                </ul>
            </div>
            <div class="card-footer">
                <strong>Total Price: ${{this.cart.totalPrice}} | Charge ID: {{this.paymentId}}</strong>
            </div>
        </div>
        {{/each}}
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">
                    <a href="#collapseCharges" role="button" aria-expanded="false" aria-controls="collapseCharges"
                        data-toggle="collapse" class="btn btn-primary">Manage Charges (Show/Hide)</a>
                </h4>
            </div>
        </div>
    </div>
</div>
<div class="row collapse" id="collapseCharges">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <table id="chargestable" class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Amount</th>
                            <th>Description</th>
                            <th>Status</th>
                            <th>Brand</th>
                            <th>Exp</th>
                            <th>Last 4</th>
                            <th>Zipcode</th>
                            <th>Receipt</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each charges}}
                        <tr>
                            <th>{{this.source.name}}</th>
                            <td>{{this.amount}}</td>
                            <td>{{this.description}}</td>
                            <td>{{this.status}}</td>
                            <td>{{this.source.brand}}</td>
                            <td>{{this.source.exp_month}}/{{this.source.exp_year}}</td>
                            <td>{{this.source.last4}}</td>
                            <td>{{this.source.address_zip}}</td>
                            <td><a href="{{this.receipt_url}}" target="_blank">view</a></td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


{{/if}}